<header>
    <h1>Dear {{username}} please follow the link bellow to confirm your E-mail address!</h1>
</header>

<section>

    <p>We've received an attempt to sign-in to <b>Dudes</b> service via your E-mail.
        If you don't know what's happening, make sure your <b>credentials</b> wasn't compromised. Maybe it's a good idea to change your password.</p>

    <div class="link">
        <h2>Confirmation link:</h2>
        {{url}}
    </div>

    <p>Best wishes, <br> Dudes</p>

</section>